body{background-color: #FCBA1A; font-family: 'Hedvig Letters Serif', serif; font-size: 1.5em;}
h1{text-align: center; font-family: 'Oswald', sans-serif; font-size: 3.5em;}
h2{text-align: center; font-family: 'Oswald', sans-serif; font-size: 3em;}
h3{}
section{}
footer{text-align: right; font-size: .8em;}
.pics{}