header{min-height: 100vh; font-family: 'inconsolata'; font-weight: 400; background-color:#121212; color:#FCFDFE;}
p.header{text-align: center;}
body{background-color:#FCFDFE; font-family: 'Roboto'; font-size:15px; font-weight: 400; word-spacing: 1px;  border-color: #121212;  padding-top: 0%;}
.format{font-family:'roboto'; font-size: 15px; font-weight: 400; text-align: justify; line-height: 2em;}
h1{font-family:'inconsolata'; font-weight: 700; font-size: 4em;text-align: center;}
section.resultss{font-size:1.75em;font-family:'inconsolata';font-weight: 700; color:#121212;}
h2{font-size:1.75em;font-family:'inconsolata';font-weight: 700; color:#121212; line-height: 2em;}
h3{font-family: 'inconsolata'; font-size:1.5em;background-color:#121212; color:#FCFDFE;font-weight: bold;}
h4{font-family: 'roboto'; font-size: 1.5em;background-color:#121212; color:#FCFDFE;}
.resultees{font-size:1.75em;font-family:'inconsolata';font-weight: 700; color:#121212; line-height: 2em; padding: 5%;}
.results{min-height: 80vh; background-color:#121212; color:#FCFDFE;padding: 2%;}
.subhead{font-family: 'inconsolata'; font-weight: 500; text-align: center; line-height: 3em;}
.byline{font-family: 'inconsolata'; font-weight: 300; letter-spacing: 1px; font-size:.85em; text-align: center; color: #121212; line-height: 4em;}
.blockquote{font-family: 'Inconsolata'; font-weight: 700; color:#DB5461;}
section.results{line-height: 1em;}
p.resulttext{display: block;}
.chart{padding: 5%;}
footer{text-align: center; font-size: 1em; font-family: 'inconsolata';}
.nav-link{font-size: .85em; color:#DB5461; text-align: center;}
.h2text{font-size:1.75em;font-family:'inconsolata';font-weight: 700; color:#121212;}
.row{
    display:flex;
  }
  .row>div{
    padding:15px;
  }
  .text{
    width:66.6666%
  }
  .image{
    width:33.333%
  }
  .container .row:nth-child(2n+1){
    flex-direction:row-reverse
  }
@media(max-width: 576px) {
	H1 {font-size:3em;font-weight: 800;}
    footer{font-size: .85em;} }
@media(max-width:768) {
    H1 {font-size: 3em;} }

