body{background-color:white; color: #114e32;font-size: 1em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
header{background-color: #325217;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h1{ text-align: center; font-weight: bold; color:#f5f5dc; font-size: 5em;}
h2{font-size: 2em;}
h2,h3{color:#000000ed;}
.nav-link {color: #f5f5dc; font-size: 1.2em;}
.bodytext{text-align: left;}
.location-hours{text-align: right; font-family:Arial, Helvetica, sans-serif}
.now-serving{background-color: #325217; font-weight: bolder; color: #f5f5dc; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
h3{font-weight: bolder; color: #f5f5dc; text-align: center; font-size: 2em;}
.col-md-3{margin:5em 0;}