body {
    background-color: #FCBA1A;
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 20px;
}

h2,
h3,
main img,
.graphic,
section {
    margin: 5% 0;
}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.3em;
}

h5 {
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f4f4f;
    padding: 1% 0 5% 0;
    font-style: italic;
}

h1,
h2,
h3,
h5 {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

footer {
    text-align: right;
}

.container {
    width: 55%;
}
.byline{font-family: 'Oswald', Sans-Serif; 
        text-align: center;
        text-transform: uppercase;
        line-height: 5;
        font-size: 1.5em;}
.graphic {
    margin: 5%;
    padding: 5% 2%;
    background-color: #121212;
}
.graphic,
h2,
img {
    margin: 5% 0;
}

img {
    margin: 0 auto;
    display: block;
}

.header-main {
    margin: 0 auto;
    display: block;
}

.cover{
    margin: 0 auto;
    display: block;
    padding: 2% 0;
    max-width:200px;
}


span{display: block;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;}
 @media (max-width: 576px) {
    h1{ font-size: 2em; font-weight: 700;}
    }
@media (max-width:795px){
    .cover{
        display: none;
    }
    }
