.div {border-color: #b498e6;}
h1{font-size: 40px;}
h2{font-size: 30px; }
body { font-family: Arial, Helvetica, sans-serif;
}
.callout { 
    background-color: #ad95d7;}
header{ text-align: center;}
img {display: inline;}

