body{font-family: 'STIX Two Text', serif; color: #000000; background-color:#8EE3EF; font-size: 1.5em;}
h1,h2{font-family: 'Alegreya bold', serif; text-align: center;color: #f46e3e;font-weight: bold;}
h1{font-weight: 900; font-size: 5em;}
h2{ font-size: 3em;}
.nav-link{font-size: 1em; color:#f46e3e;}
.nav-item{text-align: center;}
.nav-links{font-size:1.7em; color: #f46e3e; line-height: 3;}
footer{text-align: right}
.background{font-family: 'Alegrya bold', serif; font-size: 3em; text-align: left; color:#f46e3e; font-weight: bold;}
.goals{font-family: 'Alegrya bold', serif; font-size: 3em; text-align: left; color:#f46e3e;font-weight: bold;}
.future{font-family:'STIX Two Text', serif; color: #000000; text-align: justify;}
.song{font-weight: bold;font-size: 2.2em;color: #f46e3e; text-align: justify; font-family:'Alegreya bold', serif;}
.homepage{text-align: justify;}
.job{font-size: 2.4em; font-weight: bold;}
.education{font-size: 2.4em; font-weight: bold;}
.skills{font-size: 2.4em; font-weight: bold;}